<div id='container_modal_form' style="display: inline-block;">
  <form>
    <hr />
    <h2>FastQC</h2>
    <blockquote>
     A quality control tool for NGS reads
     Web-site with docu and a tutorial video 
    </blockquote>
    <hr />
    <fieldset>
      <legend>Next DataSet</legend>
      <table>
        <tr>
          <th>Name</th>
          <td><%= text_field :next_dataset, :name, :value => "next_dataset_name" %></td>
        </tr>
        <tr>
          <th>Comment</th>
          <td><%= text_field :next_dataset, :comment, :value => "" %></td>
        </tr>
      </table>
      </fieldset>
      <fieldset>
      <legend>Parameters</legend>
      <table>
        <tr>
          <th>cores</th>
          <td><%= text_field :next_dataset, :cores, :value => "8" %></td>
        </tr>
        <tr>
          <th>ram</th>
          <td><%= text_field :next_dataset, :ram, :value => "16" %></td>
        </tr>
        <tr>
          <th>scratch</th>
          <td><%= text_field :next_dataset, :scratch, :value => "100" %></td>
        </tr>
      </table>

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
    </fieldset>
    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </form>
</div>
