<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").jstree({
    'core':{
      'data':{
        url:'/data_set/whole_treeviews'
      }
    },
    "plugins" : [ "state", "search" ]
  });
  var to = false;
  $('#search_tree').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#search_tree').val();
      $('#data_set_tree').jstree(true).search(v);
    }, 250);
  });

  $('#checkall').click(function(e) {
    if($(this).prop("checked")){
      $('.target').each(function() {
        $(this).prop("checked", true);
      });
    }else{
      $('.target').each(function() {
        $(this).prop("checked", false);
      });
    }
  });

  $('#btn_multi_delete').click(function(){
    var flag=false;
    $('.target').each(function() {
       if($(this).prop("checked")){
         flag=true;
         return false;
       }
    });
    if(flag==true){
      // selected at least one
      $('#multi_delete').submit();
    }else{
      // no selected
      alert('Please select at least one DataSet.');
    }
  });

  $.ui.plugin.add("resizable", "alsoResizeReverse", {
      start: function() {
          var that = $(this).resizable( "instance" ),
              o = that.options;
          $(o.alsoResizeReverse).each(function() {
              var el = $(this);
              el.data("ui-resizable-alsoresizeReverse", {
                  width: parseInt(el.width(), 10), height: parseInt(el.height(), 10),
                  left: parseInt(el.css("left"), 10), top: parseInt(el.css("top"), 10)
              });
          });
      },
      resize: function(event, ui) {
          var that = $(this).resizable( "instance" ),
              o = that.options,
              os = that.originalSize,
              op = that.originalPosition,
              delta = {
                  height: (that.size.height - os.height) || 0,
                  width: (that.size.width - os.width) || 0,
                  top: (that.position.top - op.top) || 0,
                  left: (that.position.left - op.left) || 0
              };
          $(o.alsoResizeReverse).each(function() {
              var el = $(this), start = $(this).data("ui-resizable-alsoresize-reverse"), style = {},
                  css = el.parents(ui.originalElement[0]).length ?
                      [ "width", "height" ] :
                      [ "width", "height", "top", "left" ];
              $.each(css, function(i, prop) {
                  var sum = (start[prop] || 0) - (delta[prop] || 0);
                  if (sum && sum >= 0) {
                      style[prop] = sum || null;
                  }
              });

              el.css(style);
          });
      },
      stop: function() {
          $(this).removeData("resizable-alsoresize-reverse");
      }
  });

  $("#side_content").resizable({
    alsoResizeReverse: "#main_content"
  });

  $( "#tabs" ).tabs();

   $('#show_table').click(function(){
     $('#main_content').load('/data_set/table');
   });

   $('#full_tree').click(function(){
     $('#main_content').load('/data_set/report');
   });

   $('#check_size').click(function(){
     var b = $('#side_content');
     //b.width(800);
     alert(b.height() + '×' + b.width());
   });

  $('table a').click(function (event) {
    event.preventDefault(); // Prevent link from following its href
    $('#main_content').load($(this).attr("href"));
  });
  $(".show_tooltip").tooltip();

  var latest_data_set_id = $("#latest_data_set_id").val();
  if(latest_data_set_id){
    // load latest data_set in container main pane
    $('#main_content').load('/data_set/show/' + latest_data_set_id );
  }
});
</script>
<div id="import" data-complete="<%= @warning %>"></div>

<%= render 'shared/td' %>
<div id="side_content">

<%= hidden_field :latest_data_set, :id, :value => session[:latest_data_set_id] %>
<% if @project %>
<br />
<br />
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Tree</a></li>
    <li><a href="#tabs-2">Table</a></li>
  </ul>
  <div id="tabs-1">
    Search: <%= text_field :search, :tree %>
    <ul id="data_set_tree" class="filetree"></ul>
    <button type="button" id="full_tree">Full tree</button>
  </div>
  <div id="tabs-2">
    <table>
      <tr><th>ID</th><th>Name</th><th>Samples</th></tr>
    <% if @project %>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= data_set.id %></td>
        <td><%= link_to td(data_set.name), "/data_set/p#{@project.number}/#{data_set.id}" %></td> 
        <td>
          <%= data_set.samples_length %>
        </td>
      </tr>
    <% end %>
    </table>
    <% if @project and data_sets = @project.data_sets and data_sets.length > @data_sets.length %>
      <%= link_to "More...", "/data_set/index_full" %>
    <% end %>
    <button type="button" id="show_table">Full table</button>
    <% end %>
  </div> <!-- div id="tabs-2" -->
</div> <!-- div id="tabs"9 -->
 
<% end %>
</div> <!-- div id="side_content" -->

<div id="main_content"></div>
